n8n-workflow-cep-automation.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "dc104f09-5cf2-4cf5-9be1-326c9b2f2b5d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2688, 96],
      "notes": "Ejecuta diariamente a las 8:00 AM para obtener CEPs del día anterior"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cep-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "95eb924e-e0e5-4f5f-a0af-6f6c5c698a78",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2688, 336],
      "webhookId": "cep-manual-trigger",
      "notes": "## Endpoint POST: /webhook/cep-webhook\n\n### Campos del Body (JSON):\n\n**Opción 1: CEPs del día anterior**\n- email: string (requerido) - Email del solicitante\n- format: string (requerido) - Valores: 'pdf', 'xml', 'ambos'\n\n**Opción 2: CEPs con rango de fechas**\n- email: string (requerido)\n- format: string (requerido) - Valores: 'pdf', 'xml', 'ambos'\n- use_range: boolean (requerido) - Debe ser true\n- start_date: string (requerido) - Formato: YYYY-MM-DD\n- end_date: string (requerido) - Formato: YYYY-MM-DD\n\n### Respuesta OK (200):\n{\n  \"status\": \"success\",\n  \"cep_id\": \"20240128-1400-ABC123\",\n  \"records_processed\": 150,\n  \"token\": \"TOKEN123\",\n  \"download_url\": \"https://...\",\n  \"message\": \"✅ CEP generado exitosamente\"\n}\n\n### Respuesta ERROR (500):\n{\n  \"status\": \"error\",\n  \"message\": \"Descripción del error\",\n  \"details\": { ... }\n}\n\n### Ejemplo de uso:\ncurl -X POST https://tu-n8n.com/webhook/cep-webhook \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"email\": \"usuario@ejemplo.com\",\n    \"format\": \"ambos\"\n  }'"
    },
    {
      "parameters": {
        "jsCode": "// Validación y preparación de parámetros\nconst items = $input.first().json.body;\nconst outputItems = [];\n\n  try {\n    // Obtener parámetros del webhook o usar valores por defecto\n    const email = items.email || 'admin@example.com';\n    const format = items.format || 'ambos';\n    const useRange = items.use_range || false;\n    const startDate = items.start_date;\n    const endDate = items.end_date;\n    // Validar formato\n    const validFormats = ['pdf', 'xml', 'ambos'];\n    if (!validFormats.includes(format)) {\n      throw new Error(`Formato inválido: ${format}. Valores permitidos: ${validFormats.join(', ')}`);\n    }\n    \n    // Validar email\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    if (!emailRegex.test(email)) {\n      throw new Error(`Email inválido: ${email}`);\n    }\n    \n    // Validar fechas si se usa rango\n    if (useRange) {\n      if (!startDate || !endDate) {\n        throw new Error('start_date y end_date son requeridos cuando use_range es true');\n      }\n      \n      const start = new Date(startDate);\n      const end = new Date(endDate);\n      \n      if (isNaN(start.getTime()) || isNaN(end.getTime())) {\n        throw new Error('Formato de fecha inválido. Use YYYY-MM-DD');\n      }\n      \n      if (start > end) {\n        throw new Error('start_date debe ser anterior a end_date');\n      }\n    }\n    \n    outputItems.push({\n      json: {\n        email,\n        format,\n        use_range: useRange,\n        start_date: startDate,\n        end_date: endDate,\n        validated: true,\n        timestamp: new Date().toISOString()\n      }\n    });\n    \n  } catch (error) {\n    outputItems.push({\n      json: {\n        error: error.message,\n        validated: false,\n        timestamp: new Date().toISOString()\n      }\n    });\n  }\n\n\nreturn outputItems;"
      },
      "id": "a08589b5-a003-4bda-8bc9-a19915f0fc5e",
      "name": "Validate Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2512, 208],
      "notes": "Valida email, formato y fechas. Maneja errores de validación."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1dd8f202-d839-440a-ab94-8361d12c7bfc",
      "name": "Validation Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-2320, 208],
      "notes": "Separa flujo según validación exitosa o fallida"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://purple-bell-graduated-satisfactory.trycloudflare.com/api/v1/ceps/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "format",
              "value": "={{ $json.format }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "358e3359-c744-4ab8-994e-14f2051ec323",
      "name": "Generate CEP (Yesterday)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1856, 64],
      "notes": "Llama al endpoint para generar CEPs del día anterior"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://purple-bell-graduated-satisfactory.trycloudflare.com/api/v1/ceps/generate-range",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "format",
              "value": "={{ $json.format }}"
            },
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "7859b851-7044-403f-bab8-e68124ef9d34",
      "name": "Generate CEP (Date Range)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1856, -256],
      "notes": "Llama al endpoint para generar CEPs con rango de fechas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "range-check",
              "leftValue": "={{ $json.use_range }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3e9a84d-a7c9-4827-8ff5-918ce0ee2cf1",
      "name": "Endpoint Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-2080, -96],
      "notes": "Decide qué endpoint usar según si hay rango de fechas"
    },
    {
      "parameters": {
        "jsCode": "// Verificar respuesta de la API y extraer cep_id\nconst items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n  try {\n    const response = item.json;\n    \n    // Validar que la respuesta tenga el formato esperado\n    if (!response.cep_id) {\n      throw new Error('Respuesta inválida: falta cep_id');\n    }\n    \n    if (response.status !== 'pending') {\n      throw new Error(`Estado inesperado: ${response.status}`);\n    }\n    \n    outputItems.push({\n      json: {\n        cep_id: response.cep_id,\n        status: response.status,\n        message: response.message,\n        started_at: new Date().toISOString(),\n        poll_count: 0,\n        max_polls: 60, // Máximo 60 intentos (10 minutos si poll cada 10s)\n        success: true\n      }\n    });\n    \n  } catch (error) {\n    outputItems.push({\n      json: {\n        error: error.message,\n        success: false,\n        timestamp: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "2f7db158-96dd-4965-89a5-5c78b9113ca6",
      "name": "Process API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1616, -80],
      "notes": "Procesa la respuesta inicial y extrae el cep_id para polling"
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "de70cf4f-044f-463e-a07d-0b5abdf54e56",
      "name": "Wait Before Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1376, -80],
      "webhookId": "wait-cep-status",
      "notes": "Espera 60 segundos antes de consultar el estado"
    },
    {
      "parameters": {
        "url": "=https://purple-bell-graduated-satisfactory.trycloudflare.com/api/v1/ceps/status/{{ $json.cep_id }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "f5090575-7bc9-4c57-8183-a9c3bd58d4a6",
      "name": "Check CEP Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1152, -80],
      "notes": "Consulta el estado actual del trabajo CEP"
    },
    {
      "parameters": {
        "jsCode": "// Analizar estado y decidir siguiente acción\nconst items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n  try {\n    const statusResponse = item.json;\n    const previousData = $('Process API Response').first().json;\n    \n    const pollCount = (previousData.poll_count || 0) + 1;\n    const maxPolls = previousData.max_polls || 60;\n    \n    let nextAction = 'continue_polling';\n    let shouldContinue = true;\n    \n    // Determinar acción según estado\n    if (statusResponse.status === 'completed') {\n      nextAction = 'download';\n      shouldContinue = false;\n    } else if (statusResponse.status === 'failed') {\n      nextAction = 'error';\n      shouldContinue = false;\n    } else if (pollCount >= maxPolls) {\n      nextAction = 'timeout';\n      shouldContinue = false;\n    }\n    \n    outputItems.push({\n      json: {\n        cep_id: statusResponse.cep_id,\n        status: statusResponse.status,\n        created_at: statusResponse.created_at,\n        completed_at: statusResponse.completed_at,\n        records_processed: statusResponse.records_processed,\n        token: statusResponse.token,\n        download_available: statusResponse.download_available,\n        error: statusResponse.error,\n        poll_count: pollCount,\n        max_polls: maxPolls,\n        next_action: nextAction,\n        should_continue_polling: shouldContinue,\n        elapsed_time_seconds: pollCount * 10\n      }\n    });\n    \n  } catch (error) {\n    outputItems.push({\n      json: {\n        error: error.message,\n        next_action: 'error',\n        should_continue_polling: false\n      }\n    });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "7b993365-e99a-479e-baf7-0b0a863cd84b",
      "name": "Analyze Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, -80],
      "notes": "Analiza el estado y decide si continuar polling o proceder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "continue-polling-check",
              "leftValue": "={{ $json.should_continue_polling }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08e05a49-a1ce-4bb6-84f9-95f7fe0d7abc",
      "name": "Polling Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-704, -80],
      "notes": "Decide si continuar polling o proceder al siguiente paso"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.next_action }}",
              "rightValue": "download",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c21f6f8-670e-48b5-a6f2-9daf8c229205",
      "name": "Completion Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-496, -64],
      "notes": "Verifica si el proceso completó exitosamente"
    },
    {
      "parameters": {
        "url": "=https://purple-bell-graduated-satisfactory.trycloudflare.com/api/v1/ceps/download/{{ $json.cep_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "1792b0a1-07c1-4d0a-b808-a4dcccf309fd",
      "name": "Download Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-272, -224],
      "notes": "Descarga el archivo ZIP con los CEPs"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.cep_id }}_ceps.zip",
        "options": {}
      },
      "id": "2abf1f03-44af-41a6-8da3-a3660fc51e16",
      "name": "Save to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-80, -224],
      "notes": "Guarda el archivo ZIP en disco (opcional)"
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para notificación de éxito\nconst items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n  const cepData = $('Analyze Status').first().json;\n  \n  outputItems.push({\n    json: {\n      status: 'success',\n      cep_id: cepData.cep_id,\n      records_processed: cepData.records_processed,\n      token: cepData.token,\n      completed_at: cepData.completed_at,\n      elapsed_time: `${cepData.elapsed_time_seconds} segundos`,\n      download_url: `https://purple-bell-graduated-satisfactory.trycloudflare.com/api/v1/ceps/download/${cepData.cep_id}`,\n      message: `✅ CEP generado exitosamente. ${cepData.records_processed} registros procesados.`,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn outputItems;"
      },
      "id": "c1a0fdf7-58f4-46c5-b2c2-2c2c8c7e19eb",
      "name": "Prepare Success Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, -224],
      "notes": "Prepara datos para notificación de éxito"
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para notificación de error\nconst items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let errorMessage = '❌ Error en generación de CEP';\n  let errorDetails = {};\n  \n  if (data.next_action === 'timeout') {\n    errorMessage = '⏱️ Timeout: El proceso excedió el tiempo máximo de espera';\n    errorDetails = {\n      cep_id: data.cep_id,\n      poll_count: data.poll_count,\n      elapsed_time: `${data.elapsed_time_seconds} segundos`,\n      last_status: data.status\n    };\n  } else if (data.next_action === 'error' || data.error) {\n    errorMessage = `❌ Error: ${data.error || 'Error desconocido'}`;\n    errorDetails = {\n      cep_id: data.cep_id,\n      status: data.status,\n      error: data.error\n    };\n  } else if (!data.validated) {\n    errorMessage = `⚠️ Validación fallida: ${data.error}`;\n    errorDetails = {\n      error: data.error\n    };\n  }\n  \n  outputItems.push({\n    json: {\n      status: 'error',\n      message: errorMessage,\n      details: errorDetails,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn outputItems;"
      },
      "id": "d572c0fe-8176-4891-8b31-84fdd43d8c66",
      "name": "Prepare Error Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 224],
      "notes": "Prepara datos para notificación de error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d31edfbc-787b-450f-8d5d-8f8baa3431af",
      "name": "Webhook Response (Success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [416, -224],
      "notes": "Responde al webhook con resultado exitoso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "d7d88f24-999b-440c-8e30-7da59f1997f3",
      "name": "Webhook Response (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [416, 224],
      "notes": "Responde al webhook con error"
    },
    {
      "parameters": {
        "jsCode": "// Logging y auditoría\nconst items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n  const logEntry = {\n    workflow_execution_id: $executionId,\n    timestamp: new Date().toISOString(),\n    status: item.json.status,\n    cep_id: item.json.cep_id,\n    data: item.json\n  };\n  \n  console.log('[CEP Workflow]', JSON.stringify(logEntry));\n  \n  outputItems.push({ json: logEntry });\n}\n\nreturn outputItems;"
      },
      "id": "d32a805a-cb7d-478a-93a6-1ec7c7d91921",
      "name": "Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, -16],
      "notes": "Registra auditoría de la ejecución"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Validate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Parameters": {
      "main": [
        [
          {
            "node": "Validation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Router": {
      "main": [
        [
          {
            "node": "Endpoint Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CEP (Yesterday)": {
      "main": [
        [
          {
            "node": "Process API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CEP (Date Range)": {
      "main": [
        [
          {
            "node": "Process API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Endpoint Router": {
      "main": [
        [
          {
            "node": "Generate CEP (Date Range)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate CEP (Yesterday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process API Response": {
      "main": [
        [
          {
            "node": "Wait Before Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll": {
      "main": [
        [
          {
            "node": "Check CEP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CEP Status": {
      "main": [
        [
          {
            "node": "Analyze Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Status": {
      "main": [
        [
          {
            "node": "Polling Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling Router": {
      "main": [
        [
          {
            "node": "Wait Before Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Completion Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Router": {
      "main": [
        [
          {
            "node": "Download Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Result": {
      "main": [
        [
          {
            "node": "Save to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk": {
      "main": [
        [
          {
            "node": "Prepare Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Notification": {
      "main": [
        [
          {
            "node": "Webhook Response (Success)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Notification": {
      "main": [
        [
          {
            "node": "Webhook Response (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac9469524657dd0d86c98cc6c3f6d79b9ab95b76b3147445ac2a61508925fe0e"
  }
}
